{% extends 'base.html.twig' %}

{% block title %}
	Annonces reportées
{% endblock %}

{% block body %}
	<h1>Annonces reportées</h1>

	{% for offer in offers %}
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
			<div class="col-4 otroc_picture"> 
				<img src="{{offer.picture}}" alt="Photo de {{offer.title}}">
			</div>
			<div class="col-8 p-4 d-flex flex-column position-static">
				<dl>
					<dt>
						id de l'offre :
					</dt>
					<dd>
						{{ offer.id }}
					</dd>
					<dt>
						utilisateur :
					</dt>
					<dd>
						{{ offer.user.alias }}
					</dd>
					<dt>
						intitulé de l'offre:
					</dt>
					<dd>
						{{ offer.title }}
					</dd>
					<dt>
						code postal :
					</dt>
					<dd>
						{{ offer.zipcode }}
					</dd>
					<dt>
						description :
					</dt>
					<dd>
						{{ offer.description }}
					</dd>
					<dt>
						IsActive :
					</dt>
					<dd>
						{{ offer.isActive ? 'Yes' : 'No' }}
					</dd>
					<dt>
						isLended :
					</dt>
					<dd>
						{{ offer.isLended ? 'Yes' : 'No' }}
					</dd>
					<dt>
						type :
					</dt>
					<dd>
						{{ offer.type }}
					</dd>
					<dt>
						crée le :
					</dt>
					<dd>
						{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}
					</dd>
					<dt>
						mise à jour le :
					</dt>
					<dd>
						{{ offer.updatedAt ? offer.updatedAt|date('Y-m-d H:i:s') : '' }}
					</dd>
				</dl>
				<div class="d-flex align-items-center">
					{{ include('backoffice/offer/_validate_form.html.twig') }}
					{{ include('backoffice/offer/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	{% endfor %}
	{% for wish in wishes %}
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
			<div class="col-4 otroc_picture"> 
				<img src="{{wish.picture}}" alt="Photo de {{wish.title}}">
			</div>
			<div class="col-8 p-4 d-flex flex-column position-static">
				<dl>
					<dt>
						id de la demande :
					</dt>
					<dd>
						{{ wish.id }}
					</dd>
					<dt>
						utilisateur :
					</dt>
					<dd>
						{{ wish.user.alias }}
					</dd>
					<dt>
						intitulé de la demande :
					</dt>
					<dd>
						{{ wish.title }}
					</dd>
					<dt>
						code postal :
					</dt>
					<dd>
						{{ wish.zipcode }}
					</dd>
					<dt>
						description :
					</dt>
					<dd>
						{{ wish.description }}
					</dd>
					<dt>
						IsActive :
					</dt>
					<dd>
						{{ wish.isActive ? 'Yes' : 'No' }}
					</dd>
					<dt>
						type :
					</dt>
					<dd>
						{{ wish.type }}
					</dd>
					<dt>
						crée le :
					</dt>
					<dd>
						{{ wish.createdAt ? wish.createdAt|date('Y-m-d H:i:s') : '' }}
					</dd>
					<dt>
						mise à jour le :
					</dt>
					<dd>
						{{ wish.updatedAt ? wish.updatedAt|date('Y-m-d H:i:s') : '' }}
					</dd>
				</dl>
				<div class="d-flex align-items-center">
					{{ include('backoffice/wish/_validate_form.html.twig') }}
					{{ include('backoffice/wish/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
