{% extends 'base.html.twig' %}

{% block title %}Edit Offer{% endblock %}

{% block body %}
    <h1>Edit Offer</h1>

    {{ include('backoffice/offer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_main') }}">back to list</a>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ offer.zipcode }}</td>
            </tr>
            <tr>
                <th>User</th>
                {# <td>{{ offer.user.alias }}</td> #}
                <td><a href="{{ path('app_backoffice_user_show', {'id': offer.user.id}) }}">{{ offer.user.alias }}</a></td>
            </tr>
            {# <tr>
                <th>Category</th>
                <td>
                {% for category in allCategories %}
                {{offer.category.name}}
                {% endfor %}
                </td>
            <tr> #}
                <th>Picture</th>
                <td>{{ offer.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ offer.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsLended</th>
                <td>{{ offer.isLended ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ offer.type }}</td>
            </tr>
            <tr>
                <th>IsReported</th>
                <td>{{ offer.isReported ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ offer.updatedAt ? offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('backoffice/offer/_delete_form.html.twig') }}
{% endblock %}
