{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <a href="{{ path('app_backoffice_user_new') }}">Ajouter un utilisateur</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Alias</th>
                <th>PhoneNumber</th>
                <th>Zipcode</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Picture</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <a href="{{ path('app_backoffice_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_user_editcustom', {'id': user.id}) }}">edit</a>
                        {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_backoffice_user_editroles', {'id': user.id}) }}">rôles</a></br>
                        {% endif %}
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.alias }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.picture }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_backoffice_user_new') }}">Ajouter un utilisateur</a>

{% endblock %}
