{% extends 'base.html.twig' %}

{% block title %}MainCategory index{% endblock %}

{% block body %}
    <h1>MainCategory index</h1>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_backoffice_category_new') }}">Ajouter une main catégorie</a>
{% else %}
{% endif %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
                <th>Name</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for main_category in main_categories %}
            <tr>
                <td>{{ main_category.id }}</td>
                <td>
                    <a href="{{ path('app_backoffice_maincategory_show', {'id': main_category.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_maincategory_edit', {'id': main_category.id}) }}">edit</a>
                </td>
                <td>{{ main_category.name }}</td>
                <td>{{ main_category.slug }}</td>
                <td>{{ main_category.createdAt ? main_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ main_category.updatedAt ? main_category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_backoffice_category_new') }}">Ajouter une main catégorie</a>
{% else %}
{% endif %}

{% endblock %}
