{% extends 'base.html.twig' %}

{% block title %}MainCategory{% endblock %}

{% block body %}
    <h1>MainCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ main_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ main_category.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ main_category.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ main_category.createdAt ? main_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ main_category.updatedAt ? main_category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_maincategory_edit', {'id': main_category.id}) }}">Editer</a></br>

    <a href="{{ path('app_backoffice_maincategory_index') }}">back to list</a>

    {{ include('backoffice/maincategory/_delete_form.html.twig') }}
{% endblock %}
