<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li>
				<a class="nav-link" href="{{ path('app_backoffice_main')}}">
					<h5>O'troc</h5>
				</a>
			</li>
			<li>
				<a class="nav-link" href="{{ path('app_backoffice_maincategory_index')}}">
					<h5>MainCatégories</h5>
				</a>
			</li>
			<li>
				<a class="nav-link" href="{{ path('app_backoffice_category_index')}}">
					<h5>Catégories</h5>
				</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a class="nav-link" href="{{ path('app_backoffice_user_index')}}">
						<h5>Utilisateurs</h5>
					</a>
				</li>
			{% endif %}
			<li>
				<a class="nav-link" href="{{ path('app_backoffice_reported_index')}}">
					<h5>Annonces reportées</h5>
				</a>
			</li>
		</ul>
		<div id="right">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}

					<li>
						<h5 class="nav-link">Bienvenue
							<b>{{ app.user.alias }}</b>
						</h5>
					</li>

				{% else %}
					<li>
						<h5 class="nav-link">Bienvenue</h5>
					</li>
				{% endif %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li>
						<a class="nav-link" href="{{path('app_logout')}}">
							<h5>Déconnexion</h5>
						</a>
					</li>
					<li>
						<a class="nav-link" href="{{path('app_backoffice_profile_show')}}">
							<h5>Profil</h5>
						</a>
					</li>
				{% else %}
					<li>
						<a class="nav-link" href="{{path('app_login')}}">
							<h5>Connexion</h5>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
