{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<h1>Category index</h1>

	<a href="{{ path('app_backoffice_category_new') }}" class="btn btn-success">Ajouter une catégorie</a>

	{% for category in categories %}
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
			<div class="col-4 otroc_picture" style="background-image: url({{ category.picture }});">
			</div>
			<div class="col-8 p-4 d-flex flex-column position-static">
				<dl>
					<dt>
						id :
					</dt>
					<dd>
						{{ category.id }}
					</dd>
					<dt>
						nom :
					</dt>
					<dd>
						{{ category.name }}
					</dd>
					<dt>
						slug :
					</dt>
					<dd>
						{{ category.slug }}
					</dd>
					<dt>
						main catégorie :
					</dt>
					<dd>
						{{ category.mainCategory.name }}
					</dd>
					<dt>
						crée le :
					</dt>
					<dd>
						{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}
					</dd>
					<dt>
						mise à jour le :
					</dt>
					<dd>
						{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}
					</dd>
				</dl>
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container-fluid">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li>
								<a href="{{ path('app_backoffice_category_show', {'id': category.id}) }}" class="btn btn-primary">Détail</a>
							</li>
							<li>
								<a href="{{ path('app_backoffice_category_edit', {'id': category.id}) }}" class="btn btn-warning">Modifier</a>
							</li>
							<li>
								<a href="{{ path('app_backoffice_category_delete', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	{% endfor %}
{% endblock %}
