{% extends 'base.html.twig' %}

{% block title %}Edit Wish{% endblock %}

{% block body %}
    <h1>Edit Wish</h1>

    {{ include('backoffice/wish/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_main') }}">back to list</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wish.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ wish.title }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ wish.zipcode }}</td>
            </tr>
            <tr>
            <tr>
                <th>User</th>
                {# <td>{{ wish.user.alias }}</td> #}
                <td><a href="{{ path('app_backoffice_user_show', {'id': wish.user.id}) }}">{{ wish.user.alias }}</a></td>
            </tr>
            {# <tr>
                <th>Category</th>
                <td>
                {% for category in allCategories %}
                {{wish.category.name}}
                {% endfor %}
                </td>
            <tr> #}
                <th>Picture</th>
                <td>{{ wish.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wish.description }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ wish.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ wish.type }}</td>
            </tr>
            <tr>
                <th>IsReported</th>
                <td>{{ wish.isReported ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ wish.createdAt ? wish.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ wish.updatedAt ? wish.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('backoffice/wish/_delete_form.html.twig') }}
{% endblock %}
