{% extends 'base.html.twig' %}

{% block title %}Wish index{% endblock %}

{% block body %}
    <h1>Wish index</h1>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_backoffice_category_new') }}">Ajouter une demande</a>
{% else %}
{% endif %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
                <th>Title</th>
                <th>Zipcode</th>
                <th>Picture</th>
                <th>Description</th>
                <th>IsActive</th>
                <th>Type</th>
                <th>IsReported</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for wish in wishes %}
            <tr>
                <td>{{ wish.id }}</td>
                <td>
                    <a href="{{ path('app_backoffice_wish_show', {'id': wish.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_wish_edit', {'id': wish.id}) }}">edit</a>
                </td>
                <td>{{ wish.title }}</td>
                <td>{{ wish.zipcode }}</td>
                <td>{{ wish.picture }}</td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ wish.type }}</td>
                <td>{{ wish.isReported ? 'Yes' : 'No' }}</td>
                <td>{{ wish.createdAt ? wish.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ wish.updatedAt ? wish.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_backoffice_category_new') }}">Ajouter une demande</a>
{% else %}
{% endif %}
{% endblock %}
